*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;

}
body{
	font-family: 'Montserrat', sans-serif;

}
a{
	text-decoration: none;
}
.padre{
	display:flex;
	flex-flow: column nowrap;
}
.margen-interno{
	padding: 0px 50px;
}

	.header{
		background: url('img/fondo2.jpg');
		background-position: center;
		background-attachment: contain;
		background-size: cover;
		display: flex;
		flex-flow: column nowrap;
	}
		.menu{
			background: rgb(0,0,0,.3);
			display:flex;
			flex-flow: row nowrap;
			height: 70px;
			align-items: center;
			border-bottom: 1px solid rgba(255,255,255,.5)
		}
			.logo{
				flex:1 1 auto;
				height: 30px;
				font-family: 'Lobster', cursive;
			}
				.logo a {
					color:#fff;
					font-size: 30px;
					
				}
				.logo a:hover{
					color:#343434;
				}
			.nav{
				flex:5 1 auto;
				height: 30px;
			}
				.nav a{
					color:#fff;
					font-size: 13px;
					text-transform: uppercase;
					padding: 0 10px;
					letter-spacing: 2px;
				}
				.nav a:hover{
					color:#343434;
				}
			.social{
				display: flex;
				flex:1 1 auto;
				height: 30px;
				align-items: center;
			}
				.social a{
					font-size: 16px;
					color:#fff;
					padding: 0 5px;
				}
				.social a:hover{
					color:#343434;
				}
		.texto-principal{
			/*background: #ef6c57;*/
			height: 500px;
			display: flex;
			align-items: center;
		}
			#texto-principal{
				font-size: 11px;
				color: #fff;
				letter-spacing: 2px;
				
			}
	.section{
		background: #f7f7f7;
		display: flex;
		flex-direction: column;
	}
	.texto-servicios{
		margin:25px 0 10px 0;
		font-size: 35px;
		font-family: 'Coiny', cursive;
		font-family: 'Staatliches', cursive;
		letter-spacing: 1.5px;
	}

	
		.articulos{
				background: #f7f7f7;
				display: flex;
				justify-content: space-around;
				margin-top: 50px;


		}	
				.article{
					background: #f7f7f7;
					display: flex;

				}
					#article{
						margin: 15px 0 15px 0; 
						border-bottom:2px solid rgba(0,0,0,.2);
						border-right:2px solid rgba(0,0,0,.2);
					}
					.img{
						background: #ff5959;


					}
					.img i{
						color:white;
						font-size: 45px;
						padding: 25px;

					}
					#info{
						order:-1;
					}
					#serv{
						margin-left: 10px;
					}
					.info{
						display:flex;
						flex-direction: column;

					}
					#app{
						color: black;
					}
		.video{
			display: flex;
			color:#000;
			background: #fff;
		}

		
		.video-fondo {
			width: 100%;
			left: 0;
			overflow: hidden;
			position: relative;


		}
		.video-fondo video{
			width: 100vw;
		}
		.capa{
			width: 100%;
    		left: 0;
    		background: #303952;
    		height: 70%;
    		position: absolute;
    		opacity: .85;

		}
		.progres-bar{

			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		.tecnologias h2{
			text-align: center;
			width: 300px;
		}
		#titulo-tec h1{			
			font-family: 'Faster One', cursive;
			font-family: 'Fugaz One', cursive;
			font-family: 'Ultra', serif;
			font-family: 'Bangers', cursive;
			color:black;
			opacity: .85;
			font-size: 65px;
			letter-spacing: 2px;
		}
		.tecnologias i{
			color: white;
			font-size: 65px;
			margin-top: 20px;
		}
		#tipo-tec{
			font-size: 12px;
		}
		.icons-tec{
			display: flex;
			justify-content: space-around;
		}
		#icon-html{
			color: #F86F26;
		}
		#icon-css{
			color: #35ACF5;
		}
		#icon-js{
			color: #FAE233;
		}
		#icon-php{
			color: #B498EF;
		}
		#icon-bd{
			color: #97BF91;
		}
		#icon-wp{
			color: #fff;
		}#icon-dp{
			color: #0D45BF;
		}
		.texto-video h1{
			font-family: 'Lobster', cursive;
			font-size: 80px;
			color:white;
			text-align: center;


		}
		.texto-video p{
			font-size: 15px;
			margin-bottom: 30px;
			color:white;
			letter-spacing: 1.5px;
			text-align: center;

			
		}
		.btn{
			background: #c44569;
			color:#fff;
			font-size: 16px;
			padding: 1rem 2rem;
			text-decoration: none;
			margin: 20px 20px;
		}
		.btn:hover{
			background: #e61c5d;
		}
		.btn-video{
			display: flex;
			justify-content: space-around;

		}
		.aside{
			background: #f7f7f7;
			display: flex;
			justify-content: space-around;

		}
	.footer{
		background: #000;
	}
		.pie{
			background: #23a393;

		}
	/*----TARJETAS 3D-------*/
	.contenedor {
	display: flex;
	background: #f7f7f7;
	justify-content: space-around;
}

.contenedor_tarjeta {
	margin: 20px;
}
.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure {
	width: 93%;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	backface-visibility: hidden;
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta figure, .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

@media screen and (max-width: 992px) { 
	figure .trasera {
		/*position: relative;*/
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}

}
	/*---------------LOGIN-------------*/
/*body {
  margin: 0;
  padding: 0;
  background: url(bg.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}*/

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
	
@media all and (max-width: 900px){
	.section{
		flex-direction: column;
	}
	.menu{
		flex-direction: column;
		height: auto;
	}
	.aside {
		display: flex;
		justify-content: center;
	}
	h1{
		font-size: 15px;
	}
	.texto-principal{
		height: 400px;
	}
}
@media all and (max-width: 780px){
	.articulos{
		flex-direction: column;
	}
	#off{
		display: none;
	}
	.capa{
		height: 50%;
	}
	.texto-video p{
		font-size: 12px;
	}
	#titulo-tec h1{
		font-size: 10px;
	}
	#icon-wp,#icon-html,#icon-css,#icon-js,#icon-dp,#icon-bd,#icon-php{
		font-size: 10px;
	}
	.btn{
		font-size: 14px;
		padding: 0.5rem 1rem;
	}
}
@media all and (max-width: 550px){
	.off{
		display: none;
	}
	.nav a{
		font-size: 20px;
	}
}
@media all and (max-width: 400px){
	.aside{
		flex-direction: column;
	}
}
/*@keyframes paypal{
	0%{
		opacity: 1;
		transform: scale(.1) rotate(0deg);
	}
	50%{	
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
	100%{
		transform: scale(1) rotate(360deg);
	}

}*/